.App {
  text-align: center;

  &-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;

    button {
      padding: 5px;
      border-radius: 5px;
      margin: 5px;
    }
  }
}
